___
# Projeto 2 - Ciência dos Dados 2020.2
Grupo: Raphael Lahiry de Barros, Rodrigo Coelho, Paulo Kim, Florencia Averame
___

### *Objetivo:*
Nosso objetivo é...

In [1]:
# Importanto bibliotecas 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
from math import *

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)


%matplotlib inline

In [2]:
# Abrindo o dataset e transformando em dataframes
data_mat = pd.read_csv('archive/student-mat.csv')
data_por = pd.read_csv('archive/student-por.csv')


## Índice 
- school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
- sex - student's sex (binary: 'F' - female or 'M' - male)
- age - student's age (numeric: from 15 to 22)
- address - student's home address type (binary: 'U' - urban or 'R' - rural)
- famsize - family size (binary: 'LE3' (0) - less or equal to 3 or 'GT3' (1) - greater than 3)
- Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)
- Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
- guardian - student's guardian (nominal: 'mother', 'father' or 'other')
- traveltime - home to school travel time (numeric: 1 - 1 hour)
- studytime - weekly study time (numeric: 1 - 10 hours)
- failures - number of past class failures (numeric: n if 1<=n<3, else 4)
- schoolsup - extra educational support (binary: yes or no)
- famsup - family educational support (binary: yes or no)
- paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
- activities - extra-curricular activities (binary: yes or no)
- nursery - attended nursery school (binary: yes or no)
- higher - wants to take higher education (binary: yes or no)
- internet - Internet access at home (binary: yes or no)
- romantic - with a romantic relationship (binary: yes or no)
- famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
- freetime - free time after school (numeric: from 1 - very low to 5 - very high)
- goout - going out with friends (numeric: from 1 - very low to 5 - very high)
- Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
- Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
- health - current health status (numeric: from 1 - very bad to 5 - very good)
- absences - number of school absences (numeric: from 0 to 93)

___
# Conhecendo os dados:

In [3]:
# Visualizando os dados dos alunos na matéria de Math 
data_mat['subject']=1
data_mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,1

In [4]:
# Visualizando os dados dos alunos na matéria de Portuguese
data_por['subject']=0
data_por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,0
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,0


*Juntaremos os dataframes, já que não não há a necessidade da separação de matérias para o nosso modelo*

In [5]:
# Juntando os dataframes
data = pd.concat([data_mat,data_por],ignore_index=True)
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,1

In [6]:
# Análise superficial dos tipos de dados e possíveis nulls
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      1044 non-null   object
 1   sex         1044 non-null   object
 2   age         1044 non-null   int64
 3   address     1044 non-null   object
 4   famsize     1044 non-null   object
 5   Pstatus     1044 non-null   object
 6   Medu        1044 non-null   int64
 7   Fedu        1044 non-null   int64
 8   Mjob        1044 non-null   object
 9   Fjob        1044 non-null   object
 10  reason      1044 non-null   object
 11  guardian    1044 non-null   object
 12  traveltime  1044 non-null   int64
 13  studytime   1044 non-null   int64
 14  failures    1044 non-null   int64
 15  schoolsup   1044 non-null   object
 16  famsup      1044 non-null   object
 17  paid        1044 non-null   object
 18  activities  1044 non-null   object
 19  nursery     1044 non-null   object
 20  higher      1044 non-null   object
 21  internet    1044 non-null   object
 22  romantic    1044 non-null   object
 23  famrel      1044 non-null   int64
 24  freetime    1044 non-null   int64
 25  goout       1044 non-null   int64
 26  Dalc        1044 non-null   int64
 27  Walc        1044 non-null   int64
 28  health      1044 non-null   int64
 29  absences    1044 non-null   int64
 30  G1          1044 non-null   int64
 31  G2          1044 non-null   int64
 32  G3          1044 non-null   int64
 33  subject     1044 non-null   int64
dtypes: int64(17), object(17)
memory usage: 277.4+ KB

In [8]:
sum(data.isnull().sum())

0

In [9]:
# Identificando features numéricas
num_data = data.select_dtypes(include=[np.number]).columns
num_data

Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'G3', 'subject'],
      dtype='object')

In [10]:
# Identificando features categóricas
cat_data = data.select_dtypes(exclude=[np.number]).columns
cat_data

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')


*Devido ao fato de algumas features apresentarem dados categóricos em forma de números, transformaremos-as em categorias:*

In [27]:
# Identificando variáveis númericas que na verdade são categóricas
num_to_cat = ['Medu','Fedu','famrel','freetime','goout','freetime','Dalc','Walc','health',]

for column in num_to_cat:
    data[column] = data[column].astype('category')

In [28]:
# Associando novamente os tipos de variáveis 
num_data = data.select_dtypes(include=[np.number]).columns
cat_data = data.select_dtypes(exclude=[np.number]).columns

print('VARIÁVEIS NÚMERICAS:')
print('')
print(num_data)
print('')
print('='*80)
print('')
print('VARIÁVEIS CATEGÓRICAS:')
print('')
print(cat_data)

VARIÁVEIS NÚMERICAS:

Index(['age', 'traveltime', 'studytime', 'failures', 'absences', 'G1', 'G2',
       'G3', 'subject'],
      dtype='object')

================================================================================

VARIÁVEIS CATEGÓRICAS:

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health'],
      dtype='object')

In [47]:
encode = pd.get_dummies(data=data, columns=cat_data,drop_first=True)
encode.T

,0,1,2,3,4,5,6,7,8,9,...,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043
age,18,17,15,15,16,16,16,17,15,15,...,19,18,18,17,18,19,18,18,17,18
traveltime,2,1,1,1,1,1,1,2,1,1,...,2,2,2,2,3,1,1,2,2,3
studytime,2,2,2,3,2,2,2,2,2,2,...,1,1,3,2,1,3,2,2,1,1
failures,0,0,3,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,0,0
absences,6,4,10,2,4,10,0,6,0,0,...,0,0,0,0,4,4,4,6,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Walc_5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
health_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
health_3,1,1,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
health_4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
health_5,0,0,0,1,1,1,0,0,0,1,...,1,0,0,0,1,1,0,1,0,1

In [46]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,...,4,2,1,2,5,4,10,11,10,0
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,3,4,1,1,1,4,15,15,16,0
1041,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,5,6,11,12,9,0
1042,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,6,10,10,10,0
1043,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,4,10,11,11,0

___
# Separação do dataframe entre treino e teste

In [ ]:
from sklearn import model_selection

train, test = model_selection.train_test_split(data, test_size=0.3, random_state=42, shuffle=True)

print('O nosso treino possui {} linhas e o nosso teste possui {}'.format(train.shape[0], test.shape[0]))

___
# Análise Exploratória

## Análise numérica

In [ ]:
# Para termos um panorama dos nossos dados, utilizaremos o .describe()
data.describe()

In [ ]:
# Para observarmos o comportamento dos dados de maneira visual, plotaremos histogramas
plt.figure(figsize = (15,15))
for i in enumerate(num_data):
    plt.subplot(4,2,i[0]+1)
    plt.hist(data[i[1]], edgecolor = 'white', density = True)
    plt.title(i[1])

*Podemos observar que as notas de cada período aparentam apresentar uma distruibuição normal*

In [ ]:
# Calcularemos as correlações das variáveis númericas. Utilizaremos um heatmap para podermos ter uma visualização melhor
print(data.corr())
sns.heatmap(data.corr())
plt.show()

___
## Análise categórica

In [ ]:
# Agora, analisaremos as variáveis categóricas
# utilizaremos os gráficos de barra para podermos ter visão clara das features
plt.figure(figsize = (30,30))
for i in enumerate(cat_data):
    plt.subplot(5,5,i[0]+1)
    sns.barplot(data[i[1]].value_counts().index, data[i[1]].value_counts()).set_title(i[1])

In [ ]:
data.groupby(by = 'Dalc')['G1', 'G2','G3'].mean()

In [ ]:
data.groupby(by = 'Walc')['G1', 'G2','G3'].mean()